@use "../../styles/partials/_variables" as *;

.chat-page {
  background: url("../../assets/images//backgrounds/primary-background.svg")
    no-repeat center center fixed;
  background-size: cover;
  height: 125vh;
  width: 100vw;
  background-attachment: fixed;


  &-container {
    display: flex;
    flex-direction: column;
    // flex-wrap: wrap;
    padding: 2.5rem 6rem;
    // justify-content: space-between;
    // width: 75%
  }
  &__message {
    color: white;
    font-family: "Lato";
    font-size: 44px;
    font-weight: 600;
    margin-top: 1rem;

    &-container{
      margin-right: 5rem;
      margin-bottom: 2rem;
    }

    &-2{
      margin-left: 5rem;
    }
  }

  &-main{
    display: flex;

  }
  &__image{
    height: 650px;
  }
}

