@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Roboto&display=swap');

.chat-page {
  background: url("../../assets/images//backgrounds/primary-background.svg")
    no-repeat center center fixed;
  background-size: cover;
  height: 125vh;
  width: 100vw;
  background-attachment: fixed;
  max-width: 125rem;
  margin: 0 auto;

  &-container {
    display: flex;
    flex-direction: column;
    padding: 2.5rem 6rem;
  
  }
  &__message {
    color: white;
    font-family: "Lato";
    font-size: 2.75rem;
    font-weight: 600;
    margin-top: 1rem;

    &-container{
      margin-right: 5rem;
      margin-bottom: 2rem;
    }

    &-2{
      margin-left: 5rem;
    }
  }

  &-main{
    display: flex;

  }
}

.askChat{
  color:#a04ad5;
  font-weight: 600;
 
}

.chat-details{
  width: 100%;
}