.threebythree{
  margin-bottom: 5rem;
}
.three-trash-icon{
    justify-self: flex-end;
}

.trash-icon{
    height: 1.57rem;
    cursor: pointer;
  }
  
  .account-logo{
    position: absolute;
    top: 1rem;
    left: 1rem;
  }
  