@use "../../styles/partials/global" as *;

@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Kaushan+Script&family=Lato&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Alkatra:wght@400;500;600&family=PT+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Roboto&display=swap');
.homeMessage {

  &__title{
    color: white;
    font-family: Inter;
    font-size: 3.25rem;
    font-weight: 600;

    &-container{
      margin-bottom: 3rem;
    }
  }
  &-container {
    display: flex;
    flex-direction: column;
    padding: 4rem 0 0 7rem;
    width: 35%;
    margin-bottom: 3rem;
  }

  &__text{
    color: #edf0f8;
    font-family: Lato;
    font-size: 2rem;
    font-weight: 400;
    margin-bottom: 1.5rem;
    line-height: 2.75rem;

    &-quality{
    color:#e4e6ec;
    font-family: Lato;
    font-size: 2rem;
    font-weight: 400;
    margin-bottom: 0.5rem;
    }
  }

  &__explore{
    color: white;
    font-family: "Bebas Neue";
    font-size: 3rem;
    margin-top:4rem;
    
  }

  &__button-container{
    display: flex;
    align-items: center;
  }
}
