.search-page {
  background: url("../../assets/images/backgrounds/primary-background.svg")
    no-repeat center center fixed;
  background-size: cover;
  height: 100vh;
  width: 100vw;
}

.search-container {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 4px;
}

.show-details {
  display: flex;
  background-color: rgb(37, 35, 35);
  margin-top: 3rem;
  width: 85%;
  height: 100%;
  padding: 2rem;
  border-radius: 6px;
}

.show-poster-container {
  display: flex;
  flex-direction: column;
  margin-right: 3rem;
}

.poster-image {
  margin-bottom: 2rem;
  height: 300px;
  width: 200px;
  object-fit: cover;
}

.show-text-container {
  display: flex;
  flex-direction: column;
}

.show-title {
  color: white;
  font-size: 32px;
  font-weight: 550;
  margin-bottom: 1.5rem;
}

.show-synopsis-title {
  color: white;
  font-size: 24px;
  font-weight: 550;
  margin-bottom: 1rem;
}

.show-synopsis {
  margin-bottom: 2rem;
  line-height: 24px;
  font-size: 18px;
}

.stream-icon {
  height: 100px;
  width: 100px;
  margin-right: 24px;
}

.stream-info {
  display: flex;
  justify-content: space-between;
}

.stream-region {
  margin-top: 10px;
  color: white;
}

.show-info {
  display: flex;
  width: 200px;
  font-size: 12px;
  margin-bottom: 5px;
}

.show-subhead {
  margin-right: 14px;
}
