.search-page {
  background: url("../../assets/images/backgrounds/primary-background.svg")
    no-repeat center center fixed;
  background-size: cover;
  height: 140vh;
  width: 100vw;
}

.search-container {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 4px;
  margin-bottom: 3rem;

}



