@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');

.show-details {
  display: flex;
  background-color: rgb(37, 35, 35);
  // margin-top: 3rem;
  width: 85%;
  height: 550px;;
  padding: 2rem;
  border-radius: 6px;
  font-family:'PT Sans';
}

.show-poster-container {
  display: flex;
  flex-direction: column;
  margin-right: 3rem;
}

.poster-image {
  margin-bottom: 2rem;
  height: 300px;
  width: 200px;
  object-fit: cover;
}

.show-text-container {
  display: flex;
  flex-direction: column;
}

.show-title {
  color: white;
  font-size: 32px;
  font-weight: 550;
  // margin-bottom: 1.5rem;
}

.show-synopsis-title {
  color: white;
  font-size: 24px;
  font-weight: 550;
  margin-bottom: 1rem;
}

.show-synopsis {
  margin-bottom: 2rem;
  line-height: 24px;
  font-size: 18px;
  color: #acbdce;
}

.stream-icon {
  height: 75px;
  width: 75px;
  // margin-right: 24px;
  cursor: pointer;
}

.stream-info {
  display: flex;
  
}

.stream-region {
  margin-top: 10px;
  color: white;
}

.show-info {
  display: flex;
  width: 200px;
  font-size: 12px;
  margin-bottom: 5px;
  justify-content: space-between;
  color: #acbdce;
}

.show-subhead {
  margin-right: 14px;
}

.genres{
    margin-top: 12px;
    width: 203px;
}


.show-heading-container{
  display: flex;
  align-items: center;
  margin-bottom: 1.5rem;
}
.show-icon {
  height: 20px;
  width: 20px;
  margin-right: 10px;
  cursor: pointer;
  filter: brightness(0) invert(1); 
}
.show-icon-active{
  height: 20px;
  width: 20px;
  margin-right: 10px;
  cursor: pointer;
}

.show-icons {
  margin-left: 1rem;
}

.watchlist{
  height: 19px;
}

.streamLink{
  margin-right: 1.5rem;
}

.chat-details{
  width: 100%;
  height: auto;
}