@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');

.show-details {
  display: flex;
  background-color: rgb(37, 35, 35);
  width: 85%;
  padding: 2rem;
  border-radius: 6px;
  font-family:'PT Sans';

}

.show-poster-container {
  display: flex;
  flex-direction: column;
  margin-right: 3rem;
}

.poster-image {
  margin-bottom: 2rem;
  height: 18.75rem;
  width: 12.5rem;
  object-fit: cover;
}

.show-text-container {
  display: flex;
  flex-direction: column;
}

.show-title {
  color: white;
  font-size: 2.625rem;
  font-weight: 600;
}

.show-synopsis-title {
  color: white;
  font-size: 2.0625rem;
  font-weight: 550;
  margin-bottom: 1.5rem;
}

.show-synopsis {
  margin-bottom: 2rem;
  line-height: 1.9rem;
  font-size: 1.3125rem;
  color: #e1e6eb;

}

.stream-icon {
  height: 4.7rem;
  width: 4.7rem;
  cursor: pointer;
  border-radius: 10px;
}

.stream-info {
  display: flex;
  
}

.stream-region {
  margin-top: 0.625rem;
  color: white;
}

.show-info {
  display: flex;
  width: 12.5rem;
  font-size: 1rem;
  margin-bottom: 0.32rem;
  justify-content: space-between;
  color: #e1e6eb;

}

.show-subhead {
  margin-right: 0.875rem;
}

.genres{
    margin-top: 0.75rem;
}


.show-heading-container{
  display: flex;
  align-items: center;
  margin-bottom: 1.2rem;
  justify-content: space-between;
}
.show-icon {
  height: 1.25rem;
  width: 1.25rem;
  margin-right: 0.625rem;
  cursor: pointer;
  filter: brightness(0) invert(1); 
}
.show-icon-active{
  height: 1.25rem;
  width: 1.25rem;
  margin-right: 0.625rem;
  cursor: pointer;
}

.show-icons {
  margin-left: 1rem;
  
}

.watchlist{
  height: 1.19rem;
}

.streamLink{
  margin-right: 1.5rem;
}

.chat-details{
  width: 100%;
  height: auto;
}
.show-title-icon{
  display: flex;
  align-items: center;
}

.vpn-icon {
  height: 2.5rem;
  cursor: pointer;
  border-radius: 4px;

}

.vpn-a{
  margin-right: 0.94rem;
}
