
.chat-page-chatBot{
    position: "relative";
    margin-right: 2.5rem;
  
  }
  
  .chat-container{
    padding-top: 0.5rem;
    
  }
  
  .cs-main-container{
    width: 100%;
    // height: 34.4rem;
    // height: 400px;
    border-radius: 10px;
  }
  .cs-message-list{
    background-color: linear-gradient(
      90deg,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 0.2) 25%,
      rgba(255, 255, 255, 0.2) 75%,
      rgba(255, 255, 255, 0) 100%
    );
  }
  .cs-message__content, .cs-message-input__content-editor-wrapper, .cs-message-input__content-editor{
    background-color: lavender;
  }
  
  .cs-message__html-content, .cs-message-input__content-editor{
    color: black;
  }
  
  .bot-message{
    margin-left: 3rem;
  }

.clear-button{
    border: none;
    background-color: white;
    color: red;
    cursor: pointer;
}


