@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Kaushan+Script&family=Lato&display=swap");


.three-page {
    background: url("../../assets/images//backgrounds/primary-background.svg")
      no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
    width: 100vw;
  
    &__main-container{
      margin-left: 7rem;
      margin-top: 3rem;
      display: flex;
  
    }
  &__title{
    color: white;
    font-family: "Lato";
    font-size: 3rem;
    font-weight: 600;
  }

  &__show{
  height: 225px;
  width: 175px;
  object-fit: cover;
  cursor: pointer;

  }
  &_subTitle{
    font-family: "Lato";
    color: #edf0f8;
    font-size: 2rem;
  }
  }
 .instruction {
      position: absolute;
      right: 2rem;
    }

   
.three-search{
  width: 435px;;
  margin-top: 2rem;
  margin-bottom: 3rem;
}


.threeBythree {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  // margin-left: 12rem;
  margin-top: 2rem;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.box {
  height: 225px;
  width: 175px;
  border: 1px solid white;
}

.positionImg{
  position: absolute;
  top: 425px;
  left: 220px;
}

.three-clearButton {
  // background: linear-gradient(
  //   40deg,
  //   rgba(#c8d8e7, 0.7),
  //   rgba(255, 255, 255, 0.8)
  // );
  // font-size: 1rem;
  // font-weight: 400;
  // color: red;
  // padding: 0.75rem 2.3rem;
  // border-radius: 20px;
  // border: none;
  width: 10em;
  position: relative;
  height: 2.7rem;
  border: 3px ridge #149CEA;
  outline: none;
  background-color: transparent;
  color: rgb(202, 24, 24);
  transition: 1s;
  border-radius: 0.3em;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 1rem;

  &::after{
    content: "";
  position: absolute;
  top: -10px;
  left: 3%;
  width: 95%;
  height: 40%;
  // background-color: #212121;
  transition: 0.5s;
  transform-origin: center;
  }

  &::before{
    content: "";
  transform-origin: center;
  position: absolute;
  top: 80%;
  left: 3%;
  width: 95%;
  height: 40%;
  // background-color: #212121;
  transition: 0.5s;
  }
  &:hover{
    box-shadow: inset 0px 0px 25px #1479EA;

  }
}

.three-left{
  margin-left: 12.5rem;
}