@use "../../styles/partials/global";
@use "../../styles/partials/variables";
@use "../../styles/partials/mixins";

@import url("https://fonts.googleapis.com/css?family=Open+Sans");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Kaushan+Script&family=Lato&display=swap");

.site__title {
  color: white;
  font-family: "Bebas Neue";
  font-size: 3rem;
  z-index: 3;
  background-clip: padding-box;
  display: inline-block;
}

.navBar {
  mask-image: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0.7) 0%,
    #ffffff 25%,
    #ffffff 75%
  );
  margin: 0 auto;
  z-index: 1;

  &__sep {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    width: 60%;
    margin-left: 7rem;
  }

  &__links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(
      90deg,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 0.2) 25%,
      rgba(255, 255, 255, 0.2) 75%,
      rgba(255, 255, 255, 0) 100%
    );
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.1),
      inset 0 0 1px rgba(255, 255, 255, 0.6);
    z-index: 1;
  }

  &__anchor {
    padding: 18px;
    font-family: "Open Sans";
    text-transform: uppercase;
    color: rgba(0, 35, 122, 0.5);
    font-size: 18px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;

    &:hover {
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1),
        inset 0 0 1px rgba(255, 255, 255, 0.6);
      background: rgba(255, 255, 255, 0.1);
      color: variables.$secondary-color;
    }
  }

  &__icons {
    height: 20px;
    width: 20px;
    margin-right: 10px;
    filter: brightness(0) invert(1);
  }
}

nav ul li {
  display: inline-block;
}

.logo-link {
  text-decoration: none;
  color: inherit;
  display: flex;
  align-items: center;
}

.login {
  margin-right: 2rem;
}

.logo {
  height: 52px;
  margin-right: 1rem;
}
