@use "./styles/partials/global";
@use "./styles/partials/mixins";
@use "./styles/partials/variables";
@use "./styles/partials/fonts";

.homepage {
  height: 100%;
  width: 100%;
}

body{
  overflow-y: overlay;
}