.homePage {
  height: 130vh;
  width: 100%;
  background: url("../../assets/images/backgrounds/primary-background.svg") no-repeat
    center center fixed;
  background-size: cover;
  background-attachment: fixed;

  &-main{
    display: flex;
    justify-content: space-between;
  }
}

.home-screen {
  height: 50rem;
  margin-right: 5rem;
}
