// html, body{
//   height: 100%;
// }
.homePage {
  height: 130vh;
  width: 100%;
  background: url("../../assets/images/backgrounds/primary-background.svg") no-repeat
    center center fixed;
  background-size: cover;
  background-attachment: fixed;

  &-main{
    display: flex;
    // height: 100%;
    // width: 100%;
    justify-content: space-between;
  }
}

.home-screen {
  height: 800px;
  margin-right: 5rem;
}
