.example-modal {
    background: url(../../assets/images/shows/sample3x3.png) no-repeat center center fixed;
    background-size: contain;
    width: 550px;
    margin: 0 auto;
    height: 700px;
    margin-top: 2.5rem;
}