.example-modal {
    background: url(../../assets/images/shows/sample3x3.png) no-repeat center center fixed;
    background-size: 34.375rem, 43.75rem;
    width: 34.375rem;
    background-attachment: fixed;
    margin: 0 auto;
    height: 100%;
    background-position: center 3.44rem;
}