.example-modal {
    background: url(../../assets/images/shows/sample3x3.png) no-repeat center center fixed;
    background-size: 550px 700px;
    width: 550px;
    background-attachment: fixed;
    margin: 0 auto;
    height: 700px;
    margin-top: 2.5rem;
    background-position: center 55px;
}